
/* Your CSS Code here. */
/* To help you out, here are some styles that are applied:
container div width -> 200px; background color -> purple;
left side border color -> green;
left side border thickness -> 5 pixels;
padding on all sides in div -> 10px;
text font size -> 20 pixels
heading color -> white
Note: Add class name as main to the main div and class name &
id as heading to its inner div containing heading. Edit styles.css 
& main.html to get this exact image output and pass test cases */

#heading{
   color:white;
  text-decoration: underline;
  border-left-color:green;
	font-size:20px;
	
}
h1{
/* 	font-size:20px; */
}
div.main{
  background-color:rgb(128,0,128);
  width:200px;
  border-left:5px solid green;
  padding: 10px;
	
}